<form id="edit_owner" method="post" action="{% url edit_ajax %}" enctype="multipart/form-data">
    {% csrf_token %}

    <table class="owner_table">
        <tr>
            {% include "hello/form_field.html" with field=form.first_name %}
            {% include "hello/form_field.html" with field=form.email %}
        </tr>
        <tr>
            {% include "hello/form_field.html" with field=form.last_name %}
            {% include "hello/form_field.html" with field=form.jabber %}
        </tr>
        <tr>
            {% include "hello/form_field.html" with field=form.date_of_birth %}
            {% include "hello/form_field.html" with field=form.skype %}
        </tr>
        <tr>

            <td>
                <table>
                    <tr>
                        <td>
                            {{ form.photo.errors }}
                            {{ form.photo.label_tag }}<br />
                            {{ form.photo }}
                        </td>
                    </tr>
                    {% if form.initial.photo %}
                    <tr>
                        <td>
                            <img class="owner_photo" src="{{ MEDIA_URL }}{{ form.initial.photo.name }}" />
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </td>
            <td>
                <table>
                    <tr>{% include "hello/form_field.html" with field=form.contacts %}</tr>
                    <tr>{% include "hello/form_field_textarea.html" with field=form.other_contacts %}</tr>
                    <tr>{% include "hello/form_field_textarea.html" with field=form.bio %}</tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <input id="edit_form_submit" type="submit" value="Save" />
                <a href="{% url home %}">Cancel</a>&nbsp;
                <span id="form_ajax" style="display:none">Submit Success!</span>
                <span id="form_ajax_error" style="display:none">Please correct errors in form!</span>
                <span id="loading" style="display:none">Loading</span>
                <br />
            </td>
        </tr>
    </table>
</form>