{% extends "base.html" %}
{% load static %}

{% block head %}
    <link href="{% get_static_prefix %}home_main.css" rel="stylesheet" />
{% endblock head %}

{% block content %}
<h3>42 Coffee Cups Test Assignment</h3>

{% for owner in owners %}
<table class="owner_table">
	<tr>
		<td>Name: {{ owner.first_name }}</td>
		<td>Contacts: {{ owner.contacts }}</td>
	</tr>
	<tr>
		<td>Last name: {{ owner.last_name }}</td>
		<td>Email:: {{ owner.email }}</td>
	</tr>
	<tr>
		<td>Date of birth: {{ owner.date_of_birth|date:"d M Y" }}</td>
		<td>Jabber: {{ owner.jabber }}</td>
	</tr>
	<tr>
		<td> </td>
		<td>Skype: {{ owner.skype }}</td>
	</tr>
	<tr>
		<td>Bio:<br />{{ owner.bio|linebreaksbr }}</td>
		<td>Other contacts: <br />{{ owner.other_contacts|linebreaksbr }}</td>
	</tr>
</table>
<hr />
<a href="{% url latest_requests %}">requests</a>
{% endfor %}
{% endblock content %}
